{% extends "base.html" %}
{% block header %}
	<!-- blank intentionally -->
{% endblock header %}
{% block main %}
<div class="page-header">
  <h1>Career Projections 2020</h1>
</div>
	<div class="container-fluid">
    <div class="row-fluid">
        <div>State by state growth projections for all careers tracked by the Bureau of Labor Statistics (<a href="/about">more information</a>)</div>
    	<input id='search' placeholder="Electrical Engineers" class='searchbox' type="text" data-provide="typeahead" autocomplete="off">
    	<h2 id='maptitle'>Electrical Engineers</h2>
	    <div id="mapcontainer" />
	  </div>
  </div>
{% endblock %}
{% block foot_scripts %}
<script src="{{ STATIC_URL }}projection_app/js/libs/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/libs/topojson.v1.min.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/libs/vega.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/libs/underscore-min.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/libs/backbone-min.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/libs/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/libs/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/occupations.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/map.js"></script>
<script src="{{ STATIC_URL }}projection_app/js/main.js"></script>
{% endblock %}